<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
    </head>

    <body><header>
        <h1 id="appName">Trip Organizer</h1>
        </header>
        <main id="trips"></main>
        <form id="trip-form">
            <div id="location-input-container">
                <label>Destination: </label><input type="text" id= "location-input" name = "locationInput" placeholder="location">
            </div>
            <div id="date-input-container">
                <label>Departure Date : </label><input type="text" id = "date-input" name = "dateInput" placeholder="mm/dd/yyyy" maxlength="10">
            </div>
            <button id = "add-tripButton square-button">Add Trip</button>
        </form>
    </body>
</html>