<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
    </head>

    <body><header>
        <h1 id="appName">Trip Organizer</h1>
        </header>
        <main id="trips"></main>
        <form id="trip-form">
            <div id="location-input-container">
                <label>Destination: </label><input type="text" id= "location-input" name = "locationInput" placeholder="location">
            </div>
            <div id="date-input-container">
                <label>Departure Date : </label><input type="text" id = "date-input" name = "dateInput" placeholder="mm/dd/yyyy" maxlength="10">
            </div>
            <button id = "add-tripButton square-button">Add Trip</button>
        </form>
        
		<script>
			// Make sure service workers are supported in user's browser
			if( 'serviceWorker' in navigator ) {

				// Register the service worker after the page loads
				window.addEventListener( 'load', () => {
					navigator.serviceWorker.register( '/service-worker.js' );
				});

			}else{

				console.log( "Service Workers are not supported in this browser." );

			}
		</script>
    </body>
</html>